apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Service
      name: service
    patch: |-
      - op: replace
        path: /metadata/name
        value: radar
      - op: replace
        path: /metadata/annotations/run.googleapis.com~1ingress
        value: all
      - op: add
        path: /metadata/annotations/run.googleapis.com~1invoker-iam-disabled
        value: "true"
      - op: replace
        path: /spec/template/metadata/annotations/autoscaling.knative.dev~1maxScale
        value: "10"
      - op: replace
        path: /spec/template/spec/containerConcurrency
        value: 500
      - op: replace
        path: /spec/template/spec/timeoutSeconds
        value: 60
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 512Mi
