name: Go CI Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  GO_VERSION: 1.25
  GOLANGCI_LINT_VERSION: v2.5.0
  REGISTRY: ghcr.io

jobs:
  checks:
    name: Run Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up Go version
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
          cache-dependency-path: go.mod
          check-latest: true

      - name: Run Linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}

      - name: Run Tests
        run: go test ./...

  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: checks
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set environment variables
        id: set-vars
        run: |
          if git describe --tags --abbrev=0 2>/dev/null; then
            echo "TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT
          else
            echo "TAG=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          fi
          echo "IMAGE_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Set up Go version
        id: setup-go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
          cache-dependency-path: go.mod
          check-latest: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          pull: true
          tags: ${{ env.REGISTRY }}/${{ steps.set-vars.outputs.IMAGE_NAME }}:${{ steps.set-vars.outputs.TAG }}
          build-args: |
            VERSION=${{ steps.set-vars.outputs.TAG }}
            BUILT=${{ github.event.head_commit.timestamp }}
            GIT_COMMIT=${{ github.sha }}
            IMAGE_NAME=${{ steps.set-vars.outputs.IMAGE_NAME }}
          cache-from: type=gha,scope=go-${{ steps.setup-go.outputs.go-version }}
          cache-to: type=gha,mode=max,scope=go-${{ steps.setup-go.outputs.go-version }}
